In [49]:
import pandas as pd
import numpy as np

# Создание DataFrame
data = {
    'monday': ['2020-01-05'] * 10,
    'product_id': [6, 0, 4, 8, 2, 1, 5, 9, 7, 3],
    'category': [3, 0, 2, 0, 2, 5, 4, 0, 5, 5],
    'sales': [35.0, None, 67.0, 4.0, None, None, 32.0, 86.0, 72.0, 5.0]  # Замените None на NaN, если нужно
}

df = pd.DataFrame(data)

# Преобразование столбца 'monday' в тип datetime
df['monday'] = pd.to_datetime(df['monday'])

print(df)

      monday  product_id  category  sales
0 2020-01-05           6         3   35.0
1 2020-01-05           0         0    NaN
2 2020-01-05           4         2   67.0
3 2020-01-05           8         0    4.0
4 2020-01-05           2         2    NaN
5 2020-01-05           1         5    NaN
6 2020-01-05           5         4   32.0
7 2020-01-05           9         0   86.0
8 2020-01-05           7         5   72.0
9 2020-01-05           3         5    5.0

In [53]:
means = (df.groupby('category').agg("mean"))["sales"]

means

category
0    45.0
2    67.0
3    35.0
4    32.0
5    38.5
Name: sales, dtype: float64

In [70]:
%%timeit
df['sales'] = np.floor(df.apply(lambda row: means[row['category']] if pd.isna(row['sales']) else row['sales'], axis=1))

262 µs ± 39.9 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [47]:
df

      monday  product_id  category  sales
0 2020-01-05           6         3   35.0
1 2020-01-05           0         0   45.0
2 2020-01-05           4         2   67.0
3 2020-01-05           8         0    4.0
4 2020-01-05           2         2   67.0
5 2020-01-05           1         5   38.0
6 2020-01-05           5         4   32.0
7 2020-01-05           9         0   86.0
8 2020-01-05           7         5   72.0
9 2020-01-05           3         5    5.0

In [71]:
%%timeit
df['sales'] = np.floor(df['sales'].fillna(df.groupby('category')['sales'].transform('mean')))

312 µs ± 7.71 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [66]:
df

      monday  product_id  category  sales  category_mean
0 2020-01-05           6         3   35.0           35.0
1 2020-01-05           0         0   45.0           45.0
2 2020-01-05           4         2   67.0           67.0
3 2020-01-05           8         0    4.0           45.0
4 2020-01-05           2         2   67.0           67.0
5 2020-01-05           1         5   38.0           38.5
6 2020-01-05           5         4   32.0           32.0
7 2020-01-05           9         0   86.0           45.0
8 2020-01-05           7         5   72.0           38.5
9 2020-01-05           3         5    5.0           38.5