In [8]:
import numpy as np

In [6]:
import pandas as pd
import math
# Создание списка данных
data = {
    'sku': [100, 200, 300],
    'gmv': [400, 350, 500],
    'price': [100, 70, 120],
    'stock': [3, 10, 5]
}

df = pd.DataFrame(data)
print(df)

   sku  gmv  price  stock
0  100  400    100      3
1  200  350     70     10
2  300  500    120      5

In [3]:
df.head()

   sku  gmv  price  stock
0  100  400    100      3
1  200  350     70     10
2  300  500    120      5

In [9]:
predict_count = np.floor(df.gmv / df.price)

In [10]:
predict_count

0    4.0
1    5.0
2    4.0
dtype: float64

In [12]:
df.stock

0     3
1    10
2     5
Name: stock, dtype: int64

In [18]:
np.where(df.stock * df.price < df.gmv, df.stock* df.price, np.floor(df.gmv / df.price)*df.price)

array([300., 350., 480.])

In [20]:
df["gmv"] = np.where(df.stock * df.price < df.gmv, df.stock* df.price, np.floor(df.gmv / df.price)*df.price)

In [21]:
df

   sku    gmv  price  stock
0  100  300.0    100      3
1  200  350.0     70     10
2  300  480.0    120      5