In [125]:
import pandas as pd

from metrics import Metric, CountTotal, CountZeros

df = pd.read_csv(
    r"C:\Users\Neesty\PycharmProjects\ml_sim_kc\junior\data_quality\ke_daily_sales.csv"
)

In [126]:
df

          day  item_id   qty  price  revenue
0         NaN      NaN   NaN  500.0      NaN
1         NaN    100.0   6.0  120.0    400.0
2  2022-10-24    200.0   2.0  200.0    400.0
3  2022-10-24    300.0  10.0   85.0    400.0
4  2022-10-23    100.0   3.0    NaN    330.0
5  2022-10-23    200.0   8.0  200.0   1600.0
6         NaN    300.0   0.0   90.0      0.0

3

In [72]:
columns = ["day", "revenue"]
columns2 = ["revenue"]

In [61]:
df[columns].isna().any(axis=1).sum()

2

In [84]:
k = 0
for column in columns:
    k += df[column].duplicated().sum()
k

6

In [183]:
df[columns].dropna().apply(lambda x: x.duplicated()).all(axis=1).sum()

1

In [102]:
x = "price"
y = "revenue"

In [117]:
(df[x] < df[y]).sum()

4

In [130]:
df[column].dropna()[-1:]

6    0.0
Name: revenue, dtype: float64

In [175]:
from datetime import datetime
fmt: str = "%Y-%m-%d"
a = datetime.now()
a

datetime.datetime(2024, 2, 5, 12, 20, 53, 301429)

In [185]:
b = pd.to_datetime(df["day"].dropna())
b

Timestamp('2022-10-24 00:00:00')

In [177]:
(a - b).days

469

In [153]:
a.strftime()

AttributeError: 'str' object has no attribute 'strftime'